<%- include ("../partials/header")%>

        <section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">
                    <div class="left-side">
                        <div class="masonry-box post-media">
                             <img src="<%=feature[0].image%>" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a style="text-transform : capitalize;"                                                                                        	                                     href="/<%=feature[0].category%>" title=""><%=feature[0].category%></a></span>
                                        <h4><a href="/<%=feature[0].category%>/<%=feature[0].slug1%>" title="">	                                                  	                                      <%=feature[0].title%></a></h4>
                                        <small><a href="/<%=feature[0].category%>/<%=feature[0].slug1%>" title="">													<%=feature[0].date%></a></small>
                                        <small><a href="#" title="">by <%=feature[0].author.username%></a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->

                    <div class="center-side">
                             <div class="masonry-box post-media">
                             <img src="<%=feature[1].image%>" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a style="text-transform : capitalize;"                                                                                        	                                     href="/<%=feature[1].category%>" title=""><%=feature[1].category%></a></span>
                                        <h4><a href="/<%=feature[1].category%>/<%=feature[1].slug1%>" title="">	                                                  	                                      <%=feature[1].title%></a></h4>
                                        <small><a href="/<%=feature[1].category%>/<%=feature[1].slug1%>" title="">	                	                                       <%=feature[1].date%></a></small>
                                        <small><a href="#" title="">by <%=feature[1].author.username%></a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end left-side -->

                    <div class="right-side hidden-md-down">
                       <div class="masonry-box post-media">
                             <img src="<%=feature[2].image%>" alt="" class="img-fluid">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a style="text-transform : capitalize;"                                                                                        	                                     href="/<%=feature[2].category%>" title=""><%=feature[2].category%></a></span>
                                        <h4><a href="/<%=feature[2].category%>/<%=feature[2].slug1%>" title="">	                                                  	                                      <%=feature[2].title%></a></h4>
                                        <small><a href="/<%=feature[2].category%>/<%=feature[2].slug1%>" title="">	                	                                       <%=feature[2].date%></a></small>
                                        <small><a href="#" title="">by <%=feature[2].author.username%></a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                             </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end right-side -->
                </div><!-- end masonry -->
            </div>
        </section>

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
								<%popular.forEach(function(item){%>
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media control-image">
                                            <a href="/<%=item.category%>/<%=item.slug1%>" title="">
                                                <img src="<%=item.image%>" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="/<%=item.category%>" title=""><%=item.category%></a></span>
                                        <h4><a href="/<%=item.category%>/<%=item.slug1%>" title=""><%=item.title%></a></h4>
                                        <p><%=item.summary%></p>
                                        <small><a href="/<%=item.category%>/<%=item.slug1%>" title=""><i class="fa fa-eye"></i> 1887</a></small>
                                        <small><a href="/<%=item.category%>/<%=item.slug1%>" title=""><%=item.date%></a></small>
                                        <small><a href="#" title=""><%=item.author.username%></a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
								 <hr class="invis">
								 <% }) %>

                        

                               

                                <!-- <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="upload/banner_05.jpg" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end row --> 
    
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                        <li class="page-item">
                                            <a class="page-link" href="/?search=explore">Explore More</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Search</h2>
                                <form class="form-inline search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search on the site">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Recent Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
										  <%food.forEach(function(item){%>
                                        <a href="/<%=item.category%>/<%=item.slug1%>" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="<%=item.image%>" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1"><%=item.title%></h5>
                                                <small><%=item.date%></small>
                                            </div>
                                        </a>
											  <% }) %>

                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Advertising</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="https://images.unsplash.com/photo-1495106245177-55dc6f43e83f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title" style = "text-align : center">Instagram Feed</h2>
                                <div class="instagram-wrapper clearfix" id="instagram">
                                    <!-- <a href="#"><img src="upload/garden_sq_01.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_02.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_03.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_04.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_05.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_06.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_07.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_08.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_09.jpg" alt="" class="img-fluid"></a> -->
                                </div><!-- end Instagram wrapper -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                <div class="link-widget">
                                    <ul>
                                        <li><a href="/recipes">Recipes<span>(21)</span></a></li>
                                        <li><a href="/food-blogs">Blogs <span>(15)</span></a></li>
                                        <li><a href="/food-facts">Facts<span>(31)</span></a></li>
										<li><a href="/food-stories">Stories <span>(22)</span></a></li>
                                        <li><a href="/blogging-tips">Blogging Tips <span>(22)</span></a></li>
										<li><a href="/food-affairs">Food Affairs<span>(22)</span></a></li>
                                        <li><a href="/discover">Discover <span>(66)</span></a></li>
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

<%- include ("../partials/footer")%>