<%- include ("../partials/header")%>


	
<!-- <header class="jumbotron">	
	<div class = "container">
	<h1>Guwahati Food Blog</h1>
	<p>View our Recipes</p>
	<p>
	   <a class="btn btn-primary btn-lg" href="/new"> Add New Blog </a>	
	</p>
	</div>
	</header> -->
	
	<div id="home" class="intro route bg-image lift" style="background-image: url(https://images.wallpaperscraft.com/image/lemon_glass_water_spray_106738_1920x1080.jpg)">
	<div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
         <a href="/"> <h1 class="intro-title mb-4">Join Our Community</h1> </a> 
          <p class="intro-subtitle"><span class="text-slider-items">Eat,Drink,Events,Travel</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
   </div>
	
	<div class = "container">
	<div class = "row" style="display:flex; flex-wrap: wrap;" >
		<%food.forEach(function(item){%>
        <div class=" col-sm-12 col-md-6 col-lg-4	">
        <div class="card">
		<div class="thumbnail">
        <img class="card-img imageZoom" src="<%=item.image1 %>" alt="Image">
		</div>
        <!-- <div class="card-img-overlay">
          <a href="/<%=item.id%>" class="btn btn-light btn-sm">Cooking</a>
        </div> -->
        <div class="card-body">
          <h4 class="card-title"><%= item["title"]%></h4>
          <small class="text-muted cat">
            <i class="far fa-clock text-info"></i> 30 minutes
            <i class="fas fa-users text-info"></i> 4 portions
          </small>
          <p class="card-text">I love quick, simple pasta dishes, and this is one of my favorite.</p>
		  <div class="">
			  <a href="/<%=item.id%>" class="btn btn-info">Read Recipe</a>
		  </div>
        <!-- <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Oct 20, 12:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1347
            <i class="far fa-comment"></i> 12
          </div> -->
           
        </div>
      </div>
    </div>
 

		  <%});%>
	</div>
</div>
		
<%- include ("../partials/footer")%>
			
			