<%- include("../partials/header") %>

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2 style=" text-transform : capitalize;"><i class="fa fa-search bg-yellow"></i><%=topic%></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#"><%=meta.description%></a></li>
                            <!-- <li class="breadcrumb-item active">Gardening</li> -->
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
								<%food.docs.forEach(function(food){ %>
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="/<%=food.category%>/<%=food.slug1%>" title="">
                                                <img src="<%=food.image%>" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="/<%=food.category%>" title=""><%=food.category%></a></span>
                                        <h4><a href="/<%=food.category%>/<%=food.slug1%>" title=""><%=food.title%></a></h4>
                                        <p><%=food.summary%></p>
                                        <!-- <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1887</a></small> -->
                                        <small><a href="/<%=food.category%>/<%=food.slug1%>" title=""><%=food.date%></a></small>
                                        <small><a href="#" title="">by <%=food.author.username%></a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
								<% }) %>
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
										<% if(food.page - 1) { %>
										<li class="page-item"><a class="page-link" href="<%=paginatedUrl%>page=<%= 											food.page - 1 %>">Prev</a></li>
										<% } %>
										
										<% for(let i = 1; i <= food.totalPages; i++) { %>
										 <li class="page-item"><a class="page-link" href="<%=paginatedUrl%>page=<%= 										i %>" <%= i === food.page ? 'style=color:#000 ;' : '' %>><%= i %></a></li>
										<% } %>
										
										<% if(food.hasNextPage) { %>
										 <li class="page-item"><a class="page-link" href="<%=paginatedUrl%>page=<%= 										food.page + 1 %>">Next</a></li>
										<% } %>
										
                                
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                   

        <%- include("../partials/footer") %>